
.main-header {
  background: linear-gradient(90deg, #707271, #F0CC8E); 
  padding: 30px 20px;         
  text-align: right;          
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
}

.main-header h2 {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 0;
  text-align: right;
  padding-right: 30px; 
}

.main-header .special-letter {
  color: #d9d6d7; 
}

.main-header .rest-word {
  color: #707271; 
}

    .container {
      display: flex;
      min-height: 100vh;
    }

    .form-section {
      flex: 2;
      background: #fff;
      padding: 50px;
      margin-top: 50px; 
    }

    .form-section h2 {
      text-align: center;
      margin-bottom: 30px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    input, textarea {
      width: 100%;
      padding: 15px;
      border: 1px solid black;
      border-radius: 25px;
      font-size: 14px;
      outline: none;
      text-align: right;
      box-sizing: border-box;
    }

    textarea {
      height: 150px;
      resize: none;
    }
.form-row {
  display: flex;
  gap: 15px;  
        
}

.form-row .form-group {
  flex: 1;           
}

    button {
      background-color: #F0CC8E;
      color: #fff;
      padding: 12px 30px;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      font-size: 16px;
    }

    

  
  .contact-section {
  flex: 1;
  background-color: #F0CC8E;
  color: black;
  padding: 40px;

  
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  text-align: center;
}


    .contact-section h2 {
      margin-bottom: 30px;
    }

    .contact-item {
      margin-bottom: 20px;
      font-size: 18px;
    }

    .contact-item i {
      margin-left: 8px;
    }

    .social-icons {
      margin-top: 30px;
    }

    .social-icons a {
      display: inline-block;
      margin-left: 10px;
      color: #707271;
      font-size: 20px;
      text-decoration: none;
    }

    
